<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.co.mediaplex.dooneetv" >

    <!-- <supports-screens android:requiresSmallestWidthDp="600" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Access Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Camera -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- Call Phone -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- GCM requires a Google account. -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="th.co.mediaplex.dooneetv.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail" >
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.PackageActivity"
            android:label="@string/title_activity_package" >
        </activity>
        <activity
            android:name=".player.PlayerActivity"
            android:label="@string/title_activity_player"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/PlayerTheme">
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="th.co.mediaplex.dooneetv.MovieActivity"
            android:label="@string/title_activity_movie" >
        </activity>
    </application>

</manifest>
