<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.co.mediaplex.dooneetv" >

    <!-- <supports-screens android:requiresSmallestWidthDp="600" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Access Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Camera -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <!-- Call Phone -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- GCM requires a Google account. -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_movie_detail" >
        </activity>
        <activity
            android:name=".PackageActivity"
            android:label="@string/title_activity_package" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".MovieActivity"
            android:label="@string/title_activity_movie" >
        </activity>
        <activity
            android:name=".PackageDetailActivity"
            android:label="@string/title_activity_package_detail"
            android:theme="@style/DialogNoActionBar" >
        </activity>
        <activity
            android:name=".PaymentChooseActivity"
            android:label="@string/title_activity_payment_choose"
            android:theme="@style/DialogNoActionBar" >
        </activity>
        <activity
            android:name=".PaymentCreditCardActivity"
            android:label="@string/title_activity_payment_credit_card" >
        </activity>
        <activity
            android:name=".PaymentBankActivity"
            android:label="@string/title_activity_payment_bank" >
        </activity>
        <activity
            android:name=".PaymentPayPointActivity"
            android:label="@string/title_activity_payment_pay_point" >
        </activity>
        <activity
            android:name=".PaymentPrepaidCardActivity"
            android:label="@string/title_activity_payment_prepaid_card" >
        </activity>
    </application>

</manifest>
